# MongoDB connection string
MONGODB_URI=mongodb://127.0.0.1:27017/CantoBox-db

# Example Atlas URI format:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/CantoBox-db?retryWrites=true&w=majority
